body{
	font-family: sans-serif;
	background: #282828;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    height: 100%;
    width: 100%;
}
@-webkit-keyframes Gradient{
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.navbar{
	background-color: #0009;
	padding: 1% 0%;
	font-size: 1.2em;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;
}

.navbar-default .navbar-nav li a {
	color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
	color: #fff;
}

#section-1 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-image: url("https://pngtree.com/freebackground/black-minimalist-atmospheric-wooden-background_965794.html");
	background-size: cover;
} 

#section-1 h1{
	font-size: 500;
	font-weight: 700;
}

.padding {
	padding: 80px 0px;
}

.padding img {
	width: 100%;
}

footer {
	width: 100%;
	background-color: #23415C;
	padding: 5% 5% 10% 5%;
	color: #fff;
}


.media{
	position: absolute;
	top: 90%;
	left: 10%;
}
.media div ul li{
	list-style: none;
	display: inline-block;
	font-size: 25px;
	padding: 15px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: .5s; 
}
.media div ul li:hover{
	color: #292929;
	border: 1px solid #292929;
	transition: .5s;
}

#section-2{
	background-image: url("https://pngtree.com/freebackground/black-minimalist-atmospheric-wooden-background_965794.html");
	background-size: cover;
}































































































































































